# Vitural environment
.venv

# Environment variables
.env

# Workspace settings
.vscode

# pycache
**/__pycache__/

# Data
**/data/
**/output/

# Misc
**/query.py
server_cmds.txt
TODO.md
**/analysis.ipynb
**/analysis.py
**/VECM_example.ipynb
**/Forecasting Bitcoin price direction with random forests- How important are interest rates, inflation, and market volatility?.pdf
**/Semiconductor industry cycles- Explanatory factors and forecasting.pdf
**/SSRN-id4218834.pdf